@tailwind base;
@tailwind components;
@tailwind utilities;

/* NOTE: The below will get removed during transition to tailwind CSS */
body {
    background-color: rgb(26, 26, 26);
    /* color: rgb(255, 255, 255); */
    font-family: 'Hind Siliguri', sans-serif;
    /* font-weight: 200%; */
}

/* #intro {
} */

.dropdown-container {
    display: inline-block;
    border: 3px solid rgb(235, 235, 235);
    border-radius: 5px 5px 5px 5px;
    padding: 0;
    margin-right: 10px; 
    /* background-color: rgb(249, 52, 52); */
    /* color: black; */
    /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-size: 15px; */
    /* padding: 5px; */
} 

#page-title {
    /* margin-top: 70px;
    margin-bottom: 30px; */
    /* padding: 20px; */
    /* text-align: center; */
    /* font-size: 500%;   */
    /* font-style: italic;  */
    font-family: 'Cairo Play', sans-serif;
    text-shadow: white 5px;
}

#application {padding: 30px;
    /* text-align: center; */
}

#submit-button {
    /* padding: 9px; */
    border: 3px solid white;
    border-radius: 5px 5px 5px 5px;
    /* background-color: rgb(236, 243, 34); */
    /* color: rgb(0, 0, 0); */
    /* margin-bottom: 10px; */
    font-family: 'Hind Siliguri', sans-serif;
    /* font-weight: 100%; */
}
/* 
#submit-button:hover {
    /* background:#e22424; */
  /* } */ 

/* #history-button:hover {
    background: #e22424;
  } */

#history-button {
    /* padding: 10px; */
    border: 2px solid white; 
    border-radius: 5px 5px 5px 5px;
    /* background-color: rgb(185, 88, 15); */
    font-family: 'Hind Siliguri', sans-serif;
    /* font-weight: 80%; */
    
}

#movieDisplay {
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

/* #recent-results {
    /* padding: 10px; */
    /* text-align: center; */
    /* border-radius: 5px 5px 5px 5px; */
    /* font-size: 30px; */
    /* font-style: italic; */
/* }

#dropdown-genre {
   
   
}

#genre {}

#release { 
}
    

#dropdown-release {
    /* background-color: rgb(255, 255, 255); */
/* }

#dropdown-lang {
    /* background-color: rgb(255, 255, 255); */
/* }


CSS for results.html */ 
