@tailwind base;
@tailwind components;
@tailwind utilities;

/* NOTE: The below will get removed during transition to tailwind CSS */
body {
    background-color: rgb(22, 22, 22);
    color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 200%;
}

.dropdown-container {padding: 5px;
    display: inline-block;
    margin-right: 10px; /* Adjust the spacing between dropdowns */
    background-color: rgb(255, 92, 87);
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

#page-title {margin-top: 70px;
    padding: 20px;
    text-align: center;
    font-size: 500%;  
    font-style: italic; 
    font-family: 'Rowdies', cursive;
}

#intro {padding-bottom: 20px;
    font-family: 'Noto Sans NKo Unjoined', sans-serif;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
}

#application {padding: 30px;
    text-align: center;
}

#submit-button {padding: 10px;
    border: 2px solid white;
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(255, 253, 107);
    color: black;
    margin-bottom: 10px;
    font-family: 'Manrope', sans-serif;
    font-weight: 80%;

}

#submit-button:hover {
    background: #dfff0d;
  }

#history-button:hover {
    background: #c03131;
  }
#history-button {padding: 10px;
    border: 2px solid white; 
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(219, 109, 36);
    font-family: 'Dancing Script', cursive;
    font-family: 'Inclusive Sans', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Manrope', sans-serif;
    font-weight: 80%;
    
}

#recent-results {padding: 10px;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    font-size: 30px;
    font-style: italic;
   
}

#dropdown-genre {border: 2px solid white;
   
}

#dropdown-release {
    background-color: rgb(255, 255, 255);
}

#dropdown-lang {
    background-color: rgb(255, 255, 255);
}


/* CSS for results.html*/
