
body {
    background-color: rgb(26, 26, 26);
    font-family: 'Hind Siliguri', sans-serif;
}


#page-title {
    background-color: rgb(18, 162, 240);
    margin-top: 0;
    padding: 30px;
    font-family: 'Cairo Play', sans-serif;
    text-shadow: white 5px;
}

#intro p {
    background-color: rgb(234, 37, 37);
    color: white;
    font-size: 28px;
}

#application {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.dropdown-container {
    font-size: 30px;
    border: 3px solid rgb(235, 235, 235);
    border-radius: 5px 5px 5px 5px;
    padding: 0;
} 

.dropdown-container label {
    font-size: 22px
}

/* #current-results {padding: 30px;
} */

#submit-button {
    /* padding: 9px; */
    border: 3px solid white;
    border-radius: 5px 5px 5px 5px;
    font-family: 'Hind Siliguri', sans-serif;
}
/* 
#submit-button:hover {
    /* background:#e22424; */
  /* } */ 

/* #history-button:hover {
    background: #e22424;
  } */

#history-button {
    /* padding: 10px; */
    border: 2px solid white; 
    border-radius: 5px 5px 5px 5px;
    /* background-color: rgb(185, 88, 15); */
    font-family: 'Hind Siliguri', sans-serif;
    /* font-weight: 80%; */
    
}

#movieDisplay {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

#movieDisplay img {
    display: flex;
    justify-content: center;
}



#youtube-preview { font-size: 20px;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#clear-history {
    border: solid 2px white;
border-radius: 5px 5px 5px 5px;
/* padding: 4px; */
/* color: black; */
background-color: rgb(180, 123, 123);
}

#clear-history:hover {
    background-color: rgb(250, 252, 232);
}

#my-buttons {
  text-align: center;

}

.history-child {
    display: inline-block;
    vertical-align: middle;
}

/* #recent-results {
    /* padding: 10px; */
    /* text-align: center; */
    /* border-radius: 5px 5px 5px 5px; */
    /* font-size: 30px; */
    /* font-style: italic; */
/* }

#dropdown-genre {
   
   
}

#genre {}

#release { 
}
    

#dropdown-release {
    /* background-color: rgb(255, 255, 255); */
/* }

#dropdown-lang {
    /* background-color: rgb(255, 255, 255); */
/* }


CSS for results.html */ 
